/*
 * @file
 * wizard.css
 *
 * Styles you add here will load only on the add/edit pages of content
 * type "hypothesis".
 * If styles are integrated into a global stylesheet (some) styles
 * should be restricted with further classes e.g. .node-hypothesis
 * to affect only hypothesis nodes.
 *
 */

/* =============================================================================
 *   Hypothesis add links modal
 * ========================================================================== */
#modal-content .form-item-items-per-page label {
    width: unset;
    float: unset;
}

#modal-content .views-exposed-form .form-select {
    margin: unset;
    padding: unset;
    line-height: unset;
}

#modal-content .widget-checkbox,
#modal-content .widget-type {
    width: 1em;
}