.node_aachen {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node_aachen_text {
    stroke: #000;
    stroke-width: 1.5px;
}

.node-active{
    stroke: #555;
    stroke-width: 1.5px;
}

.link_aachen {
    stroke: #555;
    stroke-opacity: 0.3;
}

.link-active {
    stroke-opacity: 1;
}

.overlay {
    fill: none;
    pointer-events: all;
}

#visualization{
    border: 2px #555 dashed;
    width:640px;
    height:622px;
}

#network_aachen_visualisierung_div {
    display: none;
}